/* * {
  border: 1px blue solid;
} */

* {
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

#container {
  height: 100vh;
}
.my-row {
  margin: 0;
  width: 100%;
  height: 15vh;
}

#calculator {
  margin: 2em 5vw 2em 5vw;
  padding: 1em;
  background-image: linear-gradient(
    to right top,
    #ed552b,
    #ec6927,
    #ea7b26,
    #e88c29,
    #e59b30,
    #ed9938,
    #f49741,
    #fa9549,
    #ff825c,
    #ff7075,
    #ff6392,
    #fb5fb0
  );
}

#display {
  border: 1vh grey solid;
  border-style: inset;
}

#displayText {
  color: white;
  font-size: 1rem;
}
#keypad {
  margin-top: 10vh;
  border: 1px solid cyan;
  border-radius: 4%;
  padding: 0.5rem;
}

.key {
  background-image: radial-gradient(circle, #a8eb12, #00bf72, #051937);
  font-size: 1rem;
  border: 1px solid cyan;
  border-radius: 50%;
}

@media (min-width: 768px) {
  #calculator {
    margin: 2em 30vw 2em 30vw;
    padding: 1em;
  }
}
